<% unless @not_running %>
  <div class="container">
    <div class="row">
      <div class="col-md-10"><h2>Pools</h2></div>
    </div>
    <table class="table table-sm table-hover">
      <thead>
        <th>URL</th>
        <th>User</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @pools.each do |pool| %>
          <tr data-id="<%= pool["POOL"] %>">
            <td><%= pool["URL"] %></td>
            <td><%= pool["User"] %></td>
            <td><%= pool["Status"] %></td>
            <td>
              <%= link_to edit_pool_path(0), { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#mainModal' } do %>
                <i class="far fa-edit text-success"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
