<!DOCTYPE html>
<html>
  <head>
    <title>Lottominer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="mask-icon" href="<%= image_path('safari-pinned-tab.svg') %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mainModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i aria-hidden="true" class="fas fa-times text-secondary"></i>
            </button>
          </div>
          <div class="modal-body a-unique-class">
          </div>
        </div>
      </div>
    </div>
    <% unless @not_running %>
      <%= render partial: 'layouts/header' %>
      <%= yield %>
    <% else %>
      <div class="jumbotron">
        <h1 class="display-4">CGMiner is not Running</h1>
        <p class="lead">We have attempted to restart CGMiner, this page will automatically refresh.</p>
        <script>setInterval(function() { location.reload() }, 20000);</script>
      </div>
    <% end %>
  </body>
</html>
